*{
    margin: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
h1{
    color: #F08147;
    text-align: center;
    line-height: 48px;
    vertical-align: middle;
    font-size: 32px;
    font-weight: 700;
    margin-top: 300px;
}