*{
    margin: 0;
}
body{
    width: 1440px;
    height: 1024px;
    margin: 10px 200px;
    font-family: 'DM Sans', sans-serif;
    text-align: center;
}
.navbar{
    margin: 0 auto 20px auto;
}
.h2{
    color: #F08147;
    font-weight: 700;
    font-size: 40px;
line-height: 60px;
margin-right: 200px;
}
.link1, .link2{
    font-weight: 500;
font-size: 20px;
color: #545D73;
margin-right: 80px;
text-decoration: none;
}
.link1{
    color: #2C77ED;
    font-weight: 700;
}
.sign, .login{
    margin-right: 40px;
    color: #2C77ED;
    border: 1.5px solid #2C77ED;
    text-align: center;
    font-weight: 600;
font-size: 20px;
border-radius: 8px;
padding: 10px 20px;
text-decoration: none;
}
.sign{
    margin-left: 270px;
}
.login{
    background-color: #2C77ED;
    color: white;
}
.welcome{
    font-weight: 700;
font-size: 40px;
line-height: 60px;
text-align: center;
color: #313744;
margin-top: 40px;
}
.info1{
    font-weight: 400;
font-size: 24px;
line-height: 36px;
text-align: center;
margin-bottom: 80px;
color: #7A859E;
}
.login-as{
font-weight: 600;
font-size: 24px;
line-height: 36px;
text-align: center;
margin-bottom: 32px;
color: #313744;
}
.option1, .option2{
    font-weight: 500;
font-size: 24px;
line-height: 36px;
text-align: center;
margin-bottom: 15px;
color: #7A859E;
}
.option2{
    margin-bottom: 80px;
}
.orange{
    color: #ed6722;
}
.log-in{
    font-weight: 600;
font-size: 28px;
line-height: 42px;
color: #313744;
margin-bottom: 40px;
text-align: center;
}
.button1, .button2{
    font-weight: 700;
font-size: 24px;
line-height: 36px;
color: white;
background-color: #2C77ED;
margin: 20px auto;
border: none;
padding: 12px 220px;
border-radius: 8px;
}
.button2{
    padding: 12px 210px;
}